:root{
    --txt-black: #2C2D3F;
    --txt-white: #FFFFFF;
    --eng-font: "Lato", sans-serif;
    --bn-font: "Hind Siliguri", sans-serif;
    --top-header-bg: #0C8241;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Global Style */
a{
    text-decoration: none;
    display: inline-block;
}
ul li{
    list-style: none;
}

/* Global Classes */
.container{
    width: 1140px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.justify-content-space-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}



/* Top Header Area */
.top-header-wrapper{
    font-family: var(--eng-font);
    background: var(--top-header-bg);
    padding: 6px 0;
}
.top-header-wrapper,
.top-header-left a,
.top-header-right a{
    color: var(--txt-white);
    font-weight: bold;
}
.top-header-left i,
.top-header-right i{
    padding-right: 4px;
}


/* Header Area */
.header-wrapper{
    padding: 8px 0;
    font-family: var(--bn-font);
}
.logo-area a,
.logo-area a img{
    display: block;
}
.header-btn-area{
    gap: 14px;
}

.customer-support-btn,
.customer-get-connection-btn{
    padding: 8px 20px;
    background: var(--top-header-bg);
    color: var(--txt-white);
    font-weight: bold;
    border-radius: 4px;
}
.customer-support-btn i,
.customer-get-connection-btn i{
    padding-right: 6px;
}
.user-login-btn{
    font-size: 26px;
    padding: 10px;
    color: var(--txt-black);
    transition: .3s;
}
.user-login-btn:hover{
    color: #0C8241;
}


/* Nav Area */
nav{
    border-top: 1px solid #eee;
    font-family: var(--bn-font);
}
.main-menu{
    gap: 20px;
}
.main-menu > li > a{
    color: var(--txt-black);
    text-transform: capitalize;
    font-weight: bold;
    padding: 10px 4px;
    font-size: 14px;
}






















/* Contact Page Design */
.section-heading{
    font-family: var(--bn-font);
    font-size: 24px;
    color: var(--txt-black);
    padding: 20px 0;
}

.contact-area{
    padding: 10px;
    background-color: #eee;
}
.address-area{
    width: 50%;
    font-family: var(--bn-font);
    padding: 20px;
}
.address-card{
    padding: 10px 0;
}
.address-card-header{
    font-weight: bold;
    font-size: 20px;
}
.address-card-header i{
    padding-right: 6px;
    color: #0C8241;
}
.address-card-header span{
    color: var(--txt-black);
}
.address-card-content{
    padding-left: 30px;
    color: var(--txt-black);
}

.contact-form{
    width: 50%;
    padding: 20px;
    color: var(--txt-black);
}
.contact-form-card{
    font-family: var(--eng-font);
    padding: 4px 0;
}
.contact-form-card label{
    padding-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
}
.contact-form-card label,
.contact-form-card input{
    display: block;
}
.contact-form-card label::after{
    content: '*';
    color: red;
    padding-left: 6px;
}
.contact-form-card input,
.contact-form-card textarea{
    width: 100%;
    font-size: 16px;
    padding: 6px;
    font-family: var(--eng-font);
    outline: none;
}
.contact-form-card textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
}
.contact-form-card input[type=submit]{
    background-color: #0C8241;
    border: none;
    color: var(--txt-white);
    font-weight: bold;
    padding: 8px 0;
    cursor: pointer;
}
.google-map-area{
    margin-top: 20px;
}
.google-map-area iframe{
    width: 100%;
    height: 300px;
}


/* Login Page Design */
.login-section-wrapper{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-section{
    width: 400px;
    background-color: #eeeeee;
    border-radius: 4px;
    padding: 40px 20px;
    border-top: 4px solid #0C8241;
}
.login-section-header{
    text-align: center;
    font-family: var(--bn-font);
    padding-bottom: 20px;
}
.login-section-header p{
    font-weight: bold;
    font-size: 24px;
    color: var(--txt-black);
}
.login-input-card{
    padding: 6px;
    width: 80%;
    margin: 0 auto;
}
.login-input-card label{
    padding-bottom: 10px;
}
.login-input-card label,
.login-input-card input{
    display: block;
    color: var(--txt-black);
    font-family: var(--eng-font);
}
.login-input-card label{
    font-weight: bold;
    cursor: pointer;
}
.login-input-card input{
    width: 100%;
    font-size: 16px;
    padding: 6px;
    outline: none;
}
.login-input-card input[type=submit]{
    background-color: #0C8241;
    border: none;
    color: var(--txt-white);
    font-weight: bold;
    padding: 8px 0;
    cursor: pointer;
}
